<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weathr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F13E1E91CAEF3AE0075C7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F13E1FD1CAEF3AF0075C7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F13E2081CAEF3AF0075C7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
